<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="show">Hello</p>
        <p v-else>See me</p>
        <h1 ref="heading">{{ title }}</h1>

        <button @click="title = 'changed'">Update Title</button>
        <button @click="destroy">Destroy</button>
    </div>
    <div id="app2">
        <p v-if="show">Hello</p>
        <p v-else>See me</p>
        <hello></hello>
        <button @click="onChange" ref="myButton">Change something in vue1</button>
    </div>
    <div id="app3">

    </div>
    <script>
        // can access from vm1
        var data = {
            show: true,
            title: "hello everyone",
            ingredients: ['meat', 'fruit', 'cheese'],
            persons: [
                { name: 'Livia', age: 19, color: 'blue' },
                { name: 'Pompom', age: 8, color: 'black' }
            ]
        }

        var vm1 = new Vue({
            data: data,
            // Vue.js lifecycle
            beforeCreate: function () {
                console.log('beforeCreate()');
            },
            created: function () {
                console.log('created()');
            },
            // before mounted to DOM
            beforeMount: function () {
                console.log('beforeMount()');
            },
            mounted: function () {
                console.log('mounted()');
            },
            beforeUpdate: function () {
                console.log('beforeUpdate()');
            },
            updated: function () {
                console.log('updated()');
            },
            // destroy removes javascript
            beforeDestroy: function () {
                console.log('beforeDestroy()');
            },
            destroyed: function () {
                console.log('destroyed()');
            },
            methods: {
                destroy: function () {
                    this.$destroy();
                }
            }
        });
        // does the same thing as setting el in vm1
        vm1.$mount('#app');

        // setting $refs will be overridden by vue.js in methods
        // refs should be good for getting a value, not setting
        // vm1.$refs.heading.innerText = 'hi';

        var vm2 = new Vue({
            el: '#app2',
            data: data,
            methods: {
                onChange: function () {
                    vm1.show = !vm1.show;
                    this.$refs.myButton.innerText = 'Test';
                }
            }
        });

        var vm3 = new Vue({
            template: '<h1>hi!</h1>'
        });
        vm3.$mount();
        document.getElementById('app3').appendChild(vm3.$el);

        Vue.component('hello', {
            template: '<h1>Hello!</h1>'
        });
        setTimeout(function () {
            vm1.show = !vm1.show;
        }, 3000)
    </script>
    <script src="common.js"></script>
</body>

</html>